/* colors */
:root {
    --primary-color: #ffbadd;
    --secondary-color: #a9f09b;
    --accent-color: #ffb887;
    --text: #6b3e31;
    --secondary-text: #8d6e63;
    --white: #fff;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --bored-radius: 15px;
}

/* page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
    color: var(--text);
    background-color: #ffb887;
}

/* background img */
.background {
    position: fixed;
}

/* footer */
.footer {
    text-align: center;
    padding: 2rem;
    background-color: #ffbadd;
    color: var(--white);
}